CREATE TABLE IF NOT EXISTS store_settings (id SERIAL PRIMARY KEY, jalan VARCHAR(255) DEFAULT 'Gang lurah Kp Mekarsari', rt_rw VARCHAR(50) DEFAULT 'RT 04/ RW 02', kecamatan VARCHAR(100) DEFAULT 'Kec Bungursari', kabupaten VARCHAR(100) DEFAULT 'Kab Purwakarta', provinsi VARCHAR(100) DEFAULT 'Jawa Barat'); INSERT INTO store_settings (id) VALUES (1) ON CONFLICT DO NOTHING;
