@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Force dark text for inputs */
input,
textarea,
select {
  color: #0f172a !important;
  /* slate-900 */
  background-color: #ffffff;
}

input::placeholder,
textarea::placeholder {
  color: #64748b !important;
  /* slate-500 */
  opacity: 1;
}